<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-xs-12">
                <table>
                    <thead>
                    <tr>
                        <th colspan="2">Факультети</th>
                        <th class="addGroup" data-target="#addGroup" data-toggle="modal">Додати новий факультет</th>
                    </tr>
                    <tr>
                        <th>№ п/п</th>
                        <th>Назва факультету</th>
                        <th>Опис</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="faculty in faculty.list">
                        <td>{{$index  + 1}}</td>
                        <td>{{::faculty.faculty_name}}</td>
                        <td>{{::faculty.faculty_description}}</td>
                    </tr>
                    </tbody>
                </table>
                <uib-pagination
                        total-items="faculty.totalFaculties.numberOfRecords"
                        ng-model="faculty.currentPage"
                        ng-change="faculty.pageChanged()"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;">
                </uib-pagination>

            </div>

        </div>

    </section>
</section>