<div class="login-wrapper">
<section class="main">
    <section  class="login-pass-inputs-wrapper">
        <form  class="login" ng-submit="login.toEnter()" novalidate>
            <input type="text" placeholder="Username" required name="username" ng-model="login.user.username" />

            <input type="password" placeholder="Password" required name="password" ng-model="login.user.password" />


            <input type="submit" class="enter-submit" value="Log in" />

        </form><!-- form -->
    </section><!-- content -->
</section><!-- container -->
</div>