<section id="main-content">
    <section ng-if="!subjects.showForm " class="wrapper">
        <div class="row">
            <div class="col-xs-12">
              <table class="subject-list">
                <thead>
                  <tr>
                    <th colspan="5">Предмети</th>
                    <th class="addGroup" data-target="#addGroup" data-toggle="modal">
                        <button type="button" class="btn btn-default entity-btn" title="Додати предмет"
                                ng-click="subjects.showAddSubjectForm()"><i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </th>
                  </tr>
                  <tr>
                    <th>№ п/п</th>
                    <th>Назва предмету</th>
                    <th>Опис предмету</th>
                    <th colspan="3">Управління</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="subject in subjects.list">
                    <td>{{$index + (subjects.currentPage - 1)*10 + 1}}</td>
                    <td>{{::subject.subject_name}}</td>
                    <td>{{::subject.subject_description}}</td>
                    <td><button type="button" class="btn btn-default subject-list-centered" title="Редагувати"
                                ng-click="subjects.showEditSubjectForm(subject);"><i class="glyphicon glyphicon-pencil"></i>
                        </button>
                    </td>
                    <td><button type="button" class="btn btn-default" ng-click="subjects.deleteSubject(subject.subject_id)" title="Видалити">
                        <i class="glyphicon glyphicon-remove"></i></button>
                    </td>
                    <td><button type="button" class="btn btn-default" title="Тести">
                        <i class="glyphicon glyphicon-list-alt"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
                <div ng-if="subjects.showErrorMessage">
                    <h3>{{subjects.message}}</h3>
                </div>

              <div class="subject-pagination pull-right">
                  <uib-pagination
                          total-items="subjects.totalSubjects.numberOfRecords"
                          ng-model="subjects.currentPage"
                          ng-change="subjects.pageChanged()"
                          previous-text="&lsaquo;"
                          next-text="&rsaquo;">
                  </uib-pagination>
              </div>
            </div>
        </div>
    </section>
</section>